<h2> <%= @repsearch.representatives.count %> Results </h2>

<% @repsearch.representatives.each do |representative| %>
  <ul class="representative">
    <li class="name"><%= representative.name %></li>
    <li class="role"><%= representative.role %></li>
    <li class="party"><%= representative.party %></li>
    <li class="district"><%= representative.district %></li>
  </ul>
<% end %>

<%= @repsearch.copyright %>
<%= @repsearch.date %>